html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;      
}

html {
  font-size: 10px;
} 

.flex {
  display: flex;
}

.main {
  max-width: 120.8rem;
  width: 100%;
  margin: 0 auto;
}

.card-img {
  max-width: 12rem;
  border-radius: .5rem 0 0 .5rem;
}

.card-content {
  padding: 0.8rem 1.6rem;
  flex-direction: column;
  justify-content: space-between;
}

.character-wrapper {
  width: 100%;
  gap: 2rem;
}

.character-section-container {
  display: flex;
  flex-direction: column;
}

.character-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  max-height: 45rem;
  overflow: auto;
}

.character-card {
  flex: 1;
  margin: 1.2rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .6rem 0  rgba(0,0,0,0.3);
  flex-direction: row;
  position: relative;
  background-color: #3C3E44;
}

.character-content {
  padding: 1.2rem;
}

.title {
  width: 100%;
}

.character-card-selected {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: .5rem;
  opacity: 0;
  transition: .5s ease;
  margin: 0 auto;
  opacity: .8;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 2rem;
}

.background-cardA {
  background-color: green;
}

.background-cardB {
  background-color: #008CBA;
}

.displayNone {
  display: none;
}

.title {
  font-size: 1.5rem;
}

.title--margin {
  margin-left: 1.2rem;
  position: absolute;
  top: 8.3rem;
  font-size: 1.8rem;
}

.paragraph {
  font-size: 1.2rem;
}

.button {
  border-radius: .5rem;
  color: #FFFFFF;
  background-color: #5f3758;
  padding: .4rem 1.2rem;
  font-size: 1.6rem;
  width: 100%;
  height: 4rem;
  cursor: pointer;
}

.main-title {
  font-size: 3.2rem;
  padding: 3rem 0;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: right;
}

.character-episode-container {
  padding: 2.8rem 1.6rem;
  margin: 1.2rem;
  border: .1rem solid #CCCCCC;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  gap: 2rem;
}

.character-episode-title {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem;
}

.character-episode-content-title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.8rem;
  margin-bottom: 1.6rem;
  border-bottom: .2rem solid #CCCCCC;
}

.character-episode-content {
  width: 32%;
}

.alive, .dead, .unknown {
    height: 0.7rem;
    width: 0.7rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.alive {
  background: rgb(85, 204, 68);
}

.dead {
  background: rgb(214, 61, 46);
}

.unknown {
  background: rgb(158, 158, 158);
}

